.content__education {
    border-bottom: 3px solid rgb(97, 97, 97);
    overflow: hidden;
    height: 37px;
}

.education__wrap {
    border-top: 3px solid rgb(97, 97, 97);
    border-bottom: 1px solid rgb(97, 97, 97);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3%;
    box-sizing: border-box;
}

.education__heading {
    font-size: 30px;
    letter-spacing: 2px;
}

.education__svg__arrow {
    fill: none;
    stroke: rgb(223, 223, 223);
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.education__svg__arrow:hover {
    stroke: rgb(182, 182, 182);
    transition: stroke 0.5s ease;
}

.education__svgMobile__arrow {
    display: none;
}

.education__school,
.education__college,
.education__university {
    padding: 0px 3%;
    box-sizing: border-box;
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 2px;
}

.education__svg__arrow--up {
    transform: rotate(180deg);
}

@keyframes unfold {
    from {height: 37px;}
    to {height: 337px}
}

@keyframes roll {
    from {height: 337px;}
    to {height: 37px}
}