.fix{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
	background: rgb(201, 201, 201);
    margin: 10px auto 0 auto;
}

.fix__email, 
.fix__phone {
	color: rgb(110, 110, 110);
	font-size: 18px;
    text-align: center;
}

.fix__email {
    display: block;
    margin-right: 10px;
}