.content__info {
    display: flex;
}

.info__photoWrap__img {
    width: 100%;
}

.info__data {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

.info__data__name {
    font-size: 35px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.info__data__github {
    font-size: 35px;
    letter-spacing: 5px;
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 20px;
}

.info__data__github:hover,
.info__data__socialNetworks > a:hover {
    color: #525252;
    transition: color .3s ease;
}

.info__data__socialNetworks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.info__data__socialNetworks > a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 5px;
}