@media screen and (min-width: 1024px) {
    .project__link__OnProject:hover {
        color: rgb(61, 61, 61);
        transition: color .7s ease;
    }
}

@media screen and (max-width: 775px) {

    .info__data__name {
        font-size: 30px;
        text-align: center;
    }
    
    .info__data__github {
        font-size: 30px;
    }

    .info__data__socialNetworks > a {
        font-size: 20px;
    }

    .education__heading {
        font-size: 30px;
        line-height: 35px;
    }

    .education__school,
    .education__college,
    .education__university {
        font-size: 20px;
    }

    .project__heading {
        font-size: 30px;
    }

    .project__link_OnProject {
        font-size: 25px;
    }

}

@media screen and (max-width: 485px) {

    .content__info {
        display: flex;
        flex-direction: column;
    }

    .info__photoWrap {
        width: 50%;
        margin: auto;
    }

    .info__data {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 5% auto;
    }

    .info__data__name {
        text-align: center;
    }

    .education__heading {
        font-size: 25px;
    }

    .education__school,
    .education__college {
        font-size: 15px;
    }

    .education__university {
        font-size: 15px;
    }

    .project__heading {
        font-size: 25px;
        line-height: 50px;
    }

    .project__link__OnProject {
        font-size: 22px;
    }

    .fix > p{
        font-size: 13px;
    }

}