.description__mobile {
    border: 1px solid black;
    background: grey;
}

.mobile__wrap {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
}

.mobile__wrap__sign {
    font-size: 25px;
    line-height: 60px;
    letter-spacing: 1px;
}

.mobile__svg {
    border: 1px solid rgba(0,0,0,1);
    border-radius: 50%;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mobile__svg--black {
    fill: black;
}

.mobile__svg--white {
    fill: white;
}

.mobile__link {
    display: block;
    width: 90%;
    height: 12pc;
    margin: auto;
    border: 1px solid black;
}

.mobile__link__img {
    width: 100%;
    height: 100%;
    display: block;
    user-select: none;
}

.mobile__description {
    display: block;
    padding: 10px 0px 10px 30px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    background: burlywood;
    color: rgb(52, 51, 50);
    width: 90.5%;
    height: 12.15pc;
    margin: auto;
    border: 1px solid black;
}

.elem--hidden {
    display: none;
}

.mobile__see {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 40px;
}