.content__project {
    margin-bottom: 30px;
}

.project__heading {
    font-size: 35px;
    letter-spacing: 2px;
    margin-left: 3%;
    line-height: 70px;
}

.project__link {
    display: flex;
    justify-content: center;
}

.project__link__OnProject {
    display: inline-block;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 40px;
    text-decoration: none;
    color: rgb(250, 250, 250);
    user-select: none;
}

.project__wrap {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.project__example {
    width: 50%;
    display: flex;
    align-items: center;
    margin: auto;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
    padding: 20%;
    box-sizing: border-box;
}

.example__imgWrap,
.example__descriptionWrap {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
}

.example__imgWrap {
    z-index: 1;
}

.example__imgWrap__img {
    width: 100%;
    cursor: pointer;
    user-select: none;
}

@keyframes img1 {
    from {transform: translateY(0px);}
    to {transform: translateY(300px);}
}

@keyframes img2 {
    from {transform: translateY(300px);}
    to {transform: translateY(0px);}
}

.example__descriptionWrap__list > li{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 30px;
}

.project__wrap__arrowLeft,
.project__wrap__arrowRight {
    fill: none;
    stroke: rgb(94, 93, 93);
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    cursor: pointer;
}

.project__wrap__arrowLeft:hover,
.project__wrap__arrowRight:hover {
    stroke: rgb(0,0,0);
    transition: stroke 0.5s ease;
}

.project__wrap__arrow--hide {
    opacity: 0;
}